{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Accueil{% endblock %}
{% block body %}
    <h1 class="text-center text-primary">Les vélos de Papi vous donnent le bonjour ! </h1> {% endblock %}
